<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Podconfig</title>
    <link rel="stylesheet" href="/static/styles.css">
  </head>
  <body>
    <div class="container">
      <h2 class="logo">
        <span class="logo-part1">Pod</span><span class="logo-part2">config</span>
      </h2>
      <div id="messageContainer">
        {{ if .Message }}
          <div class="message">{{ .Message }}</div>
        {{ end }}
      </div>
      <form id="addFeedForm">
        <label for="youtubeUrl">YouTube URL</label>
        <input type="text" id="youtubeUrl" name="youtubeUrl" required />
      
        <p style="text-align: left; margin-top: 0.5rem;">
          <a href="#" id="toggleAdvanced" style="color: #aaa; text-decoration: underline;">Advanced Options</a>
        </p>
      
        <!-- Advanced configuration fields (hidden by default) -->
        <div id="advancedOptions" style="display: none;">
          <label for="update_period">Update Period (e.g. 1h, 12h)</label>
          <input type="text" id="update_period" name="update_period" placeholder="1h" />
      
          <label for="format">Feed Format</label>
          <select id="format" name="format">
            <option value="video" selected>Video</option>
            <option value="audio">Audio</option>
          </select>
      
          <label for="max_age">Max Age (days)</label>
          <input type="text" id="max_age" name="max_age" placeholder="90" />
      
          <label for="clean_keep_last">Keep Last Episodes</label>
          <input type="text" id="clean_keep_last" name="clean_keep_last" placeholder="20" />
        </div>
      
        <button type="submit" id="addFeedBtn" class="btn-add">Add Feed</button>
      </form>
      <hr />
      <button type="button" id="reloadBtn" class="btn-reload">Reload Podsync Docker Container</button>
      <hr />
      <div id="feedListContainer">
        <h3>Feeds</h3>
        {{ range .Feeds }}
          <div class="feed-item">
            <div class="feed-info">
              <a href="{{ .URL }}" target="_blank" class="feed-name">{{ .Name }}</a>
              <span class="feed-xml" onclick="copyText(this, '{{ .XMLURL }}')">Copy XML path to clipboard</span>
            </div>
            <button type="button" class="btn-remove" onclick="removeFeed(this, '{{ .Key }}')">Remove Feed</button>
          </div>
        {{ else }}
          <div class="message">No feeds found.</div>
        {{ end }}
      </div>
    </div>
    <script src="/static/script.js"></script>
  </body>
</html>